body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
#page{
	width:962px;
	height:663px;
	margin:0 auto;
	background:#E0DCDC;
	
}
header{
	width:800px;
	height:70px;
	margin:0 auto;

}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	
}
#title{
	width:800px;
	float:left;
	
}
#title h1{
	font-size:48px;
	padding:20px 0 0 0;
	text-shadow:3px 3px 3px #999999;
}
nav{
	width:750px;
	height:70px;
	float:right;
	/*border:1px solid #000;*/
}
nav ul{
	margin:0;
	padding:31px 0 0 0;
	list-style:none;
}
nav ul li{
	width:135px;
	margin-right:10px;
	position:relative;
	float:left;
	margin-top:10px;
}
nav ul li a{
	display:block;
	height:auto;
	background:#3C6;
	padding:8px;
	color:#FFF;
	text-outline
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	border-radius:10px 10px 10px 10px;
}
nav ul li a:hover,nav ul li a.active{
	background:#666;
}
#banner{
	width:960px;
	height:auto;
	border-top:1px solid #000;
}
#content{
	width:962px;
	height:663px;
	padding:100px 0 0 0;
	background: #9F9;

}
.dv1{
	width:308px;
	height:240px;
	/*border:1px solid #000;*/
	margin:0 50px 50px 0;
	padding:0 50px 50px 0;
	float:left;
}
.dv2{
	width:10px;
	height:5x;
	padding:100 px 0 0 0;
	margin:100px 125px 123px 0;
	border:#000 thick;
}
.dv3{
	width:100px;
	height:50px;
	margin:50px 50px 50px 50px;
	float: left;
	border:#000 thick;

}
.dv4{
	width:30px;
	height:5x;
	margin:100px 0 0 0;
	border:#000 thick;
}
.margin_right{
	margin-right:10px;
}
.margin_top
	margin-top:10px;
}
#reg{
	width:800px;
	height:auto;
	margin:0 auto;
}
#reg h1{
	margin-bottom:20px;
}
footer{
	width:960px;
	height:50px;
	text-align:center;
	background:#666;
	color:#FFF;
}
footer p{
	padding:15px 0 0 0;
	margin:0;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}

.txt{
	width:350px;
	height:auto;
	background:#F5F5F5;
	border:1px dashed #000000;
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:5px;
	font-size:14px;
}
.btn{
	width:135px;
	height:auto;
	padding:10px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	text-align:center;
	font-size:14px;
	background:#999;
	color:#FFF;
}
.btn:hover{
	background:#333;
	color:#FFF;
	font-weight:600;
	cursor:pointer;
}
#tab1{
	margin:0 auto;
	border:1px solid #000;
	font-family:Arial, Helvetica, sans-serif;
}
#tab1 thead tr th{
	padding:5px;
}

#tab1 tbody tr td{
	padding:5px;
}
#bg_col1{
	background:#FFF;
}
#bg_col1:hover{
	background:#F5F5F5;
}
#bg_col2{
	background:#CCC;
}
#bg_col2:hover{
	background:#F5F5F5;
}
#navigation {
background: #111;
height: 30px;
line-height: 30px;
margin: 10px auto;
}


#navigation li {
float:left;
list-style-type:none;
border-right:1px solid #444;
}
#navigation li a {
display:block;
padding:0 20px;
text-decoration:none;
color: #fff;
letter-spacing:1px;
}
#navigation li a:hover {
background: #333 url(images/menuover.gif) repeat-x;
color:#fff;
text-decoration:none;
}
